<mat-toolbar>

  <button mat-icon-button routerLink="home">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="product-list">Product List</button>
    <button mat-menu-item routerLink="product-list/new-product">Product Create</button>
    <button mat-menu-item routerLink="account-list">Account List</button>
    <button mat-menu-item routerLink="account-create">New Supervisor</button>

  </mat-menu>


  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
