<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>New product</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="productname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="productprice">
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="isDisabled()"
            (click)="addProduct()">Add the product</button>
  </mat-card-actions>
</mat-card>
