<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>New Account</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="userName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="phone">
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="isDisabled()"
            (click)="addAccount()">Add the account</button>
  </mat-card-actions>
</mat-card>
